<div class="container">
    <nav class="navbar ">
      <div class="container-fluid">
        <span class="navbar-brand"><b>Consultar Libros</b></span>
       </div>
    
    </nav>
    <div class="center col-5">
        <input [(ngModel)]="filter" type="text" class="form-control"  name="filter" placeholder="filtre por autor, libro o año">
    </div>
    <hr />
    
    
    <table class="table table-hover" *ngIf='libros && libros.length'>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Año </th>
          <th scope="col">Género</th>
          <th scope="col">Número de páginas</th>
          <th scope="col">Autor</th>
          <th scope="col">Editorial</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let libro of libros|filtrarLibros:filter; index as i ">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ libro.title}} </td>
          <td>{{ libro.year}}</td>
          <td>{{ libro.genres }}</td>
          <td>{{ libro.numberOfPages  }}</td>
          <td>{{ libro.autor  }}</td>
          <td>{{ libro.editorial  }}</td>
        </tr>
      </tbody>
    </table>
  
</div>
